/*GENERAL*/
*{
	font-family: "Raleway";
	color:#5d585d;
}
/*NAVIGATION*/
.logo{
	font-family: serif;
}
ul li{
  display: inline-block;
}
#fondonav, #fondofooter{
	background-color: #322732;
}
#fondonav{
	height: 75px;
}
/*HEADER*/
.botonload, .botonread{
	border-radius: 25px;
	border:none;
	width: 30%;
  height: 50px;
}
.botonload, .botontwitter{
	background-color: rgb(78, 81, 82);
}
.textologo{
	font-size: 230%;
}
.parrafoprincipal{
	font-size: 120%;
}
/*PROYECTOS*/
.margenpequeno{
	margin-top: 4%;
}
/*TWITTER*/
.textpink{
	color:#da116c;
}
.iconotwitter{
	height: 100px;
	margin-left: 15%;
	position: relative;
}
.botontwitter{
	border: none;
  width: 60%;
  height: 25px;
  border-radius: 5px
}
/*SECTION Y FOOTER*/
.iconoredsoc{
	width: 11%;
	border: 2.5px dashed white;
	border-radius: 10px;
}
#fondofooter{
	height: 900px;
}
.comillas{
	width:70%;
	margin-left: 70%;
}
input{
	 width: 130%;
    height: 40px;
    border:none;
    background-color: black;
    opacity: .5;
}
.botonfollow{
	border:none;
	background-color: #da116c;
	padding: 10px 15px;
	border-radius: 2%;
}
.botonsend{
	border:none;
	background-color: black;
	padding: 12.5px 20px;
	opacity: .5
}
.fontsizepeque{
	font-size: 80%;
}
.footgentle{
	display: inline;
}
